<div class="panel panel-default opacity9">

  <div class="block-group">
    <span class="input-group-addon">
      <label>Search: <input ng-model="searchText"></label>
    </span>
  </div>

  <div>
    <span ng-repeat="milestone in milestones">
      <input type="checkbox" ng-model="filters.milestones[$index]">
      <span>
        {{ milestone }}
      </span>
    </span>
  </div>

  <div>
    <span ng-repeat="status in status_options">
      <input type="checkbox" ng-model="ignore_bugs_with_status[$index]">
      <span>{{ status }}</span>
    </span>
  </div>

  <div>
    <span ng-repeat="status in priority_options">
      <input type="checkbox" ng-model="ignore_bugs_with_priority[$index]">
      <span>{{ status }}</span>
    </span>
  </div>


  <div class="block-group">
    <div class="bugname block">&nbsp;</div>
    <div ng-repeat="milestone in milestones | filter: milestone_filter" class="milestone block">
      <span class="label hidden-xs hidden-sm">{{ milestone }}</span>
    </div>
  </div>

  <div class="block-group" ng-repeat="bug in bugs | filter:bug_filter | filter:searchText" ng-class="rowClass($even)">
    <div class="bugname block">
      <a href="{{ bug.web_link }}">{{ bug.id }}: {{ bug.title }}</a>
      <span ng-repeat="tag in bug.tags">
        <span class="label">{{ tag }}</span>
      </span>
    </div>

    <div ng-repeat="task in bug.tasks | filter: showTaskMilestone" class="block visible-xs visible-sm" ng-if="showMilestoneSmall(task)">
      <span ng-if="task_filter(task)">
        <span class="label inline-mobile-only">{{ task.milestone }}</span>
        <span class="label" ng-class="bugLabelImportance(task)">{{ task.importance }}</span>
        <span class="label" ng-class="bugLabelStatus(task)">{{ task.status }}</span>
      </span>
      <span ng-if="!task_filter(task)">&nbsp;</span>
    </div>
    <div ng-repeat="task in bug.tasks | filter: showTaskMilestone" class="block milestone hidden-xs hidden-sm" ng-class="colClass($even)">
      <span ng-if="task_filter(task)">
        <span class="label" ng-class="bugLabelImportance(task)">{{ task.importance }}</span>
        <span class="label" ng-class="bugLabelStatus(task)">{{ task.status }}</span>
      </span>
      <span ng-if="!task_filter(task)">&nbsp;</span>
    </div>
  </div>
</div>
